<!DOCTYPE html>
<html>
<head>
  <title>>Pragprog Books Online Store</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%=controller_name%>'>
    <div class="banner">
      <%= image_tag(logo.png) %>
      <%= @page.title || "Pragmatic Bookshelf" %>
    </div>
    <div class="columns">
      <div class="side">
        <ul>
          <li><a>Home</a></li>
          <li><a>Questions</a></li>
          <li><a>News</a></li>
          <li><a>Contact</a></li>
        </ul>
      </div>
      <div class="maim">
        <%= yield %>
      </div>
    </div>


</body>
</html>
